<div id = "common-container">
	<div id = "management-top">
		<div id = "user-edit-form">
			<div id = "user-edit-form-content">
				<%= form_with model: @user, url: other_user_registration_path(@user.public_uid), local: true, method: :put do |f| %>
					<h2>ユーザー編集</h2>
					
					<div class = "field">
						<%= f.label :name, "ユーザー名" %><br />
						<%= f.text_field :name, class: "form" %>
					</div>

					<div class = "field">
						<%= f.label :kana, "フリガナ" %><br />
						<%= f.text_field :kana, class: "form" %>
					</div>

					<div class = "field">
						<%= f.label :department_id, "部署" %><br />
						<%= f.select :department_id,  @department_select, {include_blank: "部署を選択してください"}  %>
					</div>

					<div class="field">
						<%= f.label :email %><br />
						<%= f.email_field :email, class: "form" %>
					</div>

					<div class="field">
						<%= f.label :password, "新しいパスワード(パスワードを変更する場合、入力)" %>
						<%= f.password_field :password, class: "form" %>
					</div>

					<div class="field">
						<%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br />
						<%= f.password_field :password_confirmation, class: "form" %>
					</div>

					<div class = "check-box-form">
              <span>管理者権限</span>
              <%= f.check_box :admin, class: "check-box" %>
              <%= f.label :admin, "管理権限を付与", class: "check-box-label" %>
          </div>

					<div class="field">
						<%= f.label :current_password, "管理者パスワード(必須)" %>
						<%= f.password_field :current_password, class: "form" %>
					</div>

					<div class="actions">
						<%= f.submit "更新", class: "btn" %>
					</div>
				<% end %>
			</div>

			<div id = "user-destroy-content">
				<h3>アカウント削除</h3>

				<p>※このユーザーに関連する情報は全て削除されます。</p>
				
				<%= form_with url: destroy_other_user_registration_path(@user.public_uid), local: true, method: :delete do |f| %>
					<%= f.label :current_password, "管理者パスワード(必須)" %>
					<%= f.password_field :current_password, class: "form", style: "#{"border-bottom: 1px solid red;" if flash[:alert].present?}" %>

					<%= f.submit "削除", class: "btn", data: { confirm: "このユーザーに関する情報は全て削除されます。実行しますか？" } %>
				<% end %>
			</div>
		</div>
	</div>
</div>