<div id = "user-content" data-user_id = "<%= @other_user.public_uid %>">
  <div id="user-content-top-bar" class = "modal-top-bar">
    <ul>
      <li id="user-content-back-btn" class = "topbar-back-btn"><span>⬅︎</span></li>
      <li id="user-content-header" class = "topbar-header">ユーザー詳細</li>
      <li id="user-content-close" class = "topbar-close-btn"><span>＋</span></li>
    </ul>
  </div>
  <div id = "user-left-content">
    <div id = "user-left-header">
      <h6>
        <% if @paid_holiday.present? %>
          <span class = "holiday status">有給休暇</span>
        <% elsif @status.present? %>
          <% if @status.left_at.present? %>
            <span class = "after-work status">退勤済</span>
          <% else %>
            <span class = "working status">勤務中</span>
          <% end %>
        <% else %>
          <span class = "before-work status">出勤前</span>
        <% end %>
        <%= @other_user.name %>
        <span class = "department">所属：<%= @other_user.department.name %></span>
      </h6>
      <button id = "add-group-btn">グループ追加</button>
    </div>
    <div id = "chat-log" data-other_page_count = "<%= @other_user_chat_page_count %>">
      <%= render "general_messages/other_user_chat" %>
    </div>
    <%= form_with(model: @new_message) do |f| %>
      <%= f.hidden_field :receive_user_id, value: @other_user.public_uid %>
      <%= f.text_area :content, id: "user-content-chat-text-area" %>
      <%= f.submit "送信", id: "chat-send-btn" %>
    <% end %>
  </div>
  <div id = "user-right-content">
    <div class = data-form>
      <%= form_with url: schedules_date_change_path, method: :get do |f| %>
        <%= f.hidden_field :user_id, value: @other_user.public_uid %>
        <%= f.date_field :browsing_user_schedule_date, class: "other-user-schedule-data-text", value: Date.today %>
        <%= f.submit "移動", class: "schedule-date-btn" %>
      <% end %>
    </div>
    <div class = "other-user-schedule-content" id = "other-user-schedule-content">
      <%= render "schedules/other_user_schedule" %>
    </div>
  </div>
</div>

<%= render "contact_group_relations/new" %>

