<div id = "send-user-container">
    <div id = "send-user-container-top-bar" class = "modal-top-bar">
        <ul>
            <li id = "send-user-container-header" class = "topbar-header">送信先ユーザー設定</li>
            <li id = "send-user-close" class = "topbar-close-btn"><span>＋</span></li>
        </ul>
    </div>
    <div id = "send-list">
        <% @departments.each do |department| %>
            <div>
                <div class = "group-container">
                    <span style="pointer-events: none;"><%= department.department %></span>
                    <input type="checkbox" class = "group-check">
                </div>
                <ul class = "chat-send-assignment-selectors">
                    <% @users.each do |user| %>
                        <% unless user == current_user %>
                            <% if user.department == department.department %> 
                                <li class = "user-selector-<%= user.public_uid %> user-selector">
                                    <%= user.name %>
                                    <input type="checkbox" value = "<%= user.public_uid %>">
                                </li>
                            <% end %>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <% @contact_groups.each do |group| %>
            <div id = "send-contact-group-id-<%= group.id %>">
                <div class = "group-container">
                    <span style="pointer-events: none;"><%= group.name.truncate(10) %></span>
                    <input type="checkbox" class = "group-check">
                </div>
                <ul>
                    <% group.contact_group_relations.each do |relation| %>
                        <li class = "user-selector-<%= relation.user.public_uid %> user-selector">
                            <%= relation.user.name %>
                            <input type="checkbox" value = "<%= relation.user.public_uid %>">
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <button id = "done-chat-send-user">完了</button>
</div>

