<% if @other_user_schedules.present? %>
    <div class = "other-user-schedule-time">
        <ul class = "other-user-time-list">
            <% @other_user_work_time.each do |n| %>
                <li style="height: calc(100%/<%= @other_user_work_length %>);"><span><%= "#{n}:00" %></span></li>
            <% end %>
        </ul>
    </div>
    <div class = "other-user-schedule-time-line">
        <ul class = "other-user-line-list">
            <% @other_user_work_time.each do %>
                <li style="height: calc(100%/<%= @other_user_work_length %>);"><span></span></li>
            <% end %>
        </ul>
        <% s = 0 %>
        <div style="top: calc(100%/<%= @other_user_work_length*2 %>); height: calc(100% - 100%/<%= @other_user_work_length %>);" class = "schedule">
            <% (0..((@other_user_work_length-1)*6)-1).each do |i| %>
                <% if @other_user_schedule_times.sum([]).include?(i) %>
                    <% if @other_user_schedule_start[s] == i && @other_user_schedule_end[s] == i %>
                        <span style="height: calc(100%/<%= (@other_user_work_length-1) * 6 %>);" class = "user-content-schedule-box-<%= s %>"><span class = "schedule-name" id = "other-user-schedule-name-<%= s %>"><%= @other_user_schedules[s].name.truncate(10) %></span><span class = "time" id = "other-user-schedule-time-<%= s %>"><%= "#{@other_user_schedules[s].start_at}~#{@other_user_schedules[s].finish_at}" %></span></span>
                        <% s += 1 %>
                    <% elsif @other_user_schedule_start[s] == i %>
                        <span style="height: calc(100%/<%= (@other_user_work_length-1) * 6 %>);" class = "user-content-schedule-box-<%= s %>"><span class = "schedule-name" id = "other-user-schedule-name-<%= s %>"><%= @other_user_schedules[s].name.truncate(10) %></span></span>
                    <% elsif @other_user_schedule_end[s] == i %>
                        <span style="height: calc(100%/<%= (@other_user_work_length-1) * 6 %>);" class = "user-content-schedule-box-<%= s %>"><span class = "time" id = "other-user-schedule-time-<%= s %>"><%= "#{@other_user_schedules[s].start_at}~#{@other_user_schedules[s].finish_at}" %></span></span>
                        <% s += 1 %>
                    <% else %>
                        <span style="height: calc(100%/<%= (@other_user_work_length-1) * 6 %>);" class = "user-content-schedule-box-<%= s %>"></span>
                    <% end %>
                <% else %>
                    <span style="height: calc(100%/<%= (@other_user_work_length-1) * 6 %>);" style="opacity: 0;"></span>
                <% end %>
            <% end %>
        </div>
    </div>
<% else %>
    <div class = "none-schedules-content">
        <div class = "none-schedules-content-text">
            <i class="fas fa-calendar-alt"></i>
            <span>スケジュール未設定</span>
        </div>
    </div>
<% end %>
