<div id = "user-search-box">
    <div id = "user-search-box-top-bar" class = "modal-top-bar">
        <ul>
            <li id = "user-search-box-header" class = "topbar-header">ユーザー検索</li>
            <li id = "user-search-box-close" class = "topbar-close-btn"><span>＋</span></li>
        </ul>
    </div>
    <%= form_with url: users_path, method: :get do |f| %>
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: "user-search-form" %>

        <%= f.label :department, "部署" %>
        <%= f.select :department, @department_select_option %>

        <%= f.submit "検索", class: "user-search-btn" %>
    <% end %>
</div>

