<% # ホームメッセージコンテナ 送信時パーシャル %>
<div class = "message-content current-user">
  <span class = "message-user-name">
    送信先 :
    <%= link_to @receive_users.first.name, user_modal_show_path(@receive_users.first.public_uid), remote: true %>
    <% if @receive_users.length >= 2 %>
      <span>、他<%= @receive_users.length - 1 %>人</span>
    <% end %>
    <%= link_to "送信先一覧", general_message_path(@general_message.id), class: "send-users-display-btn", remote: true %>
  </span>
  <p class = "message">
    <%= safe_join(@general_message.content.split("\n"), tag(:br)) %>
    <% if @general_message.room_id.present? %>
      <br><%= link_to "スケジュール追加", schedules_meeting_new_path(meeting_room_id: @general_message.room_id), remote: true, class: "schedule-add-meeting" %>
      <br><%= link_to "ミーティングへ", meeting_room_path(@general_message.room_id) %>
    <% end %>
  </p>
  <span class = "message-time"><%= l @general_message.created_at %></span>
</div>