<div id = "user-search-list">
  <% if @department.present? %>
    <h4 id = "group-name"><span id = "user-search-section-back-btn">⬅︎</span> <%= @department.name %></h4>
    <ul id = "user-list" class = "next">
      <% @department.users.each do |user| %>
        <% if user != current_user %>
          <li><%= link_to user.name, user_modal_show_path(user.public_uid), remote: true %></li>
        <% end %>
      <% end %>
    </ul>
  <% elsif @group.present? %>
    <h4 id = "group-name">
      <span id = "user-search-section-back-btn">⬅︎</span> <%= @group.name.truncate(10) %>
      <% if @group.present? %>
        <%= link_to contact_group_path(@group.id), method: :delete, remote: true, data: { confirm: "#{@group.name}を削除しますか？" }, id: "group-delete-link" do %><span id = "group-delete-btn"><i class="fas fa-trash"></i></span><% end %>
      <% end %>
    </h4>
    <ul id = "user-list" class = "next">
      <% @group.users.each do |user| %>
        <li><%= link_to user.name, user_modal_show_path(user.public_uid), remote: true %></li>
      <% end %>
    </ul>
  <% end %>
</div>




