<div id = "common-container">
  <div id = "management-top">
    <div id = "attendance-container">
      <h2><i class="fas fa-list-alt"></i> 勤怠情報</h2>
      <div id = "attendance-menu">
        <div id = "csv-form-container">
          <h6 id = "download-header"><i class="fas fa-caret-down"></i>ダウンロード</h6>
          <%= form_with url: attendances_csv_download_path(format: :csv), method: :get, local: true, id: "download-form" do |f| %>
            <div id = "sort-form">
              <%= f.radio_button :sort, :kana %>
              <%= f.label :sort, "フリガナ順", value: :kana %>
              <%= f.radio_button :sort, :department, checked: true %>
              <%= f.label :sort, "部署順", value: :department %>
            </div>
            <div id = "holiday-check-form">
              <%= f.check_box :holiday, checked: true %>
              <%= f.label :holiday, "有給休暇情報含める" %>
            </div>
            <div id = "csv-main-form">
              <%= f.text_field :name, placeholder: "ユーザー名", id: "download-name" %>
              <%= f.select :department, @department_select_option, {include_blank: "部署選択"} %>
              <%= f.date_field :start_date %>
              <span>~</span>
              <%= f.date_field :finish_date %>
              <%= f.button class: "btn", id: "download-btn" do %>
                <i class="fas fa-download"> ダウンロード</i>
              <% end %>
            </div>
          <% end %>
        </div>
        <div id = "attendance-table-container">
          <div id = "attendance-table">
            <div id = "attendance-table-search">
              <h6>絞り込み</h6>
              <%= form_with url: attendances_search_path, method: :get do |f| %>
                <div class = "form-field">
                  <%= f.text_field :name, placeholder: "ユーザー名", id: "search-name" %>
                </div>
                <div class = "form-field">
                  <%= f.select :department, @department_select_option, {include_blank: "部署選択"} %>
                </div>
                <div class = "form-field">
                  <%= f.date_field :date, value: DateTime.now.strftime("%Y-%m-%d") %>
                </div>
                <%= f.button class: "btn" do %>
                  <i class="fas fa-search"> 検索</i>
                <% end %>
              <% end %>
            </div>
            <%= render "attendance_table" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

