<!DOCTYPE html>
<html>
  <head>
    <title>Minaty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div id = "Container">
      <%= yield %>
    </div>
  </body>
</html>
