<div id = "common-container">
    <div id = "side-menu">
        <%= render "homes/side_menu" %>
    </div>
    <div id = "management-top">
        <%= render "menu_links" %>
        <div id = "management-container">
            <div id = "management-user-container">  
                <div id = "users-table-container">
                    <h2><i class="fas fa-list-alt"></i> ユーザーリスト</h2>
                    <div id = "user-search">
                        <%= form_with url: managements_path, local: true, method: :get do |f| %>
                            <div class = "form-field">
                                <%= f.text_field :name, placeholder: "ユーザー名" %>
                            </div>
                            <div class = "form-field">
                                <%= f.select :department, @department_select_option, { include_blank: "部署選択" } %>
                            </div>
                            <%= f.submit "検索", class: "btn" %>
                        <% end %>
                    </div>
                    <%= render "users_table" %>
                </div>
            </div>
        </div>
    </div>
</div>